* {
  text-decoration: none;
  margin: 2px;
  padding: 0;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: ;
  list-style: none;
}

.navbar ul li a {
  font-size: 0.9rem;

}

.navbar ul li a:hover {
  text-shadow: rgb(164, 64, 64);
  opacity: 0.85;
}

.center {
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 12px;
}

#intro-header {
  display: flex;
  height: 635px;
  /* margin-bottom: 2px; */
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  background-image: url(bgimghome.png);
  background-position: 0px 0px;
  background-size: cover;
  color: #fff;
}

.heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}

.head-para {
  opacity: 0.6;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  justify-content: center;
  text-align: center;
}

.motto {
  width: 80%;
  margin-right: auto;
  margin-bottom: 85px;
  margin-left: auto;
  text-align: center;
}

.services-head {
  margin-top: 24px;
  margin-bottom: -32px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 29.7;
}


.divider1 {
  margin-top: 37px;
  height: 0.8px;
  align-items: center;
  background: rgb(100, 105, 100);
}

.services-items {
  display: flex;
  margin: 3rem;
}

.college-review {
  border: 3px solid #d6c8c8;

}

.exams {
  border: 3px solid #d6c8c8;
}

.cutoff-result {
  border: 3px solid #d6c8c8;
}

.services-items2 {
  display: flex;
  margin: 3rem;
  justify-content: center;
}

.college-essentials {
  border: 3px solid #d6c8c8;
}

.books {
  border: 3px solid #d6c8c8;

}

#about {
  margin-top: 2em;
}

.about-head {
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.5;
}

.click {
  text-decoration: none;
}

.para {
  border: 0px solid black;
  margin: 2em;
  padding: 46px;
  border-radius: 12px;
  background: #e4e4e4;
}

.footer {
  margin-top: 15px;
  justify-content: center;
  text-align: center;
}

.footer-text a {
  text-decoration: none;
}

.centered {

  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  /* Grey text */

  padding: 20px;
  /* Some padding */
  margin: -22px 2px -15px;
}

.centered h1 {
  font-size: 22px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.centered1 {

  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  /* Grey text */

  padding: 20px;
  /* Some padding */
  margin: -5px 2px -15px;
}

.centered1 h1 {
  font-size: 22px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.college-review:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
}

.college-essentials:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.books:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

.cutoff-result:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.exams:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.exams:after {
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: .75;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, rgba(73, 34, 34, 0) 0, #0c0a0a 100%);
}

/* Contact */
.contact {
  margin-top: 15px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ffde9e;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #151515;
}

.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  background: #ffc451;
  color: #151515;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #151515;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #484848;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid black;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #ffc451;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #ffc451;
  border: 0;
  padding: 10px 24px;
  color: #151515;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #ffcd6b;
}

/* Footer  */

#footer {
  background: black;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #151515;
  border-bottom: 1px solid #222222;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#footer .footer-top .footer-info h3 span {
  color: #ffc451;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #292929;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #ffc451;
  color: #151515;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ffc451;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ffc451;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #ffc451;
  color: #151515;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #ffcd6b;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}